body {
	padding: 20%;
	padding-top: 0%;
}
h1,h2,h3, em, strong{
	color: plum;
}
h1, h3 {
	text-align: center;
}
h2 {
	text-align: right;
	text-decoration: underline LightSlateGray;
}
hr {
	border-top: 1px dotted LightSlateGray;
	width: 50%


}
p {
	color: DarkSlateGray;
	font-family: georgia, serif;
}