body {
	padding: 50px 20%;
	font-family: font-family: 'Oswald', sans-serif;
}
h1,h2,h3, em, strong{
	color: plum;
}
h1 {
	text-transform: uppercase;
}
h1, h3 {
	text-align: center;
}
h2 {
	text-align: right;
	text-decoration: underline LightSlateGray;
}
hr {
	border-top: 1px dotted LightSlateGray;
	width: 50%


}
p {
	color: DarkSlateGray;
	font-family: georgia, serif;
	text-align: justify;
	font-style: italic;
}
#big-achievement {
	color: red;
}
.ex09 {
	font-style: : italic;
}